.logged-nav {
  display: flex;
  z-index: 10;
}

.logged-nav__list {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.logged-nav__link-main {
  display: none;
}

.logged-nav__button-close {
  border: none;
  background: center center / cover no-repeat url(../../../images/icon__close.svg);
  padding: 0;
  cursor: pointer;
  width: 26px;
  height: 26px;
  display: none;
  margin-bottom: 110px;
  opacity: 1;
  transition: opacity 0.4s linear;
}

.logged-nav__button-close:hover {
  opacity: 0.8;
}

.logged-nav__profile {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.logged-nav__profile-email {
  text-decoration: none;
  margin: 0 13px 0 0;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  opacity: 1;
  transition: opacity 0.4s linear;
}

.logged-nav__profile-email:hover {
  opacity: 0.7;
}

.logged-nav__link-profile {
  border-radius: 6px;
  width: 30px;
  height: 30px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.4s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logged-nav__link-profile:hover {
  opacity: 0.8;
}

.logged-nav__link {
  color: #000;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.4s linear;
}

.logged-nav__link:hover {
  opacity: 0.7;
}

.logged-nav__link_movies {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}

.logged-nav__link_all-movies {
  margin-right: 20px;
}

.logged-nav__link_active {
  font-weight: 500;
}

.logged-nav__link-profile_color_gray {
  background-color: #f9f9f9;
}

.logged-nav__profile-icon_fill_black {
  fill: #000;
}

.logged-nav__profile-icon_fill_main {
  fill: #f3c1f8;
}

.logged-nav-burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .logged-nav-burger {
    display: block;
    border: none;
    cursor: pointer;
    height: 44px;
    width: 44px;
    background: center center / cover no-repeat url(../../../images/burger.svg);
    opacity: 1;
    transition: opacity 0.4s linear;
  }

  .logged-nav-burger:hover {
    opacity: 0.8;
  }

  .logged-nav-burger:focus-visible {
    outline: none;
  }

  .logged-nav {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    height: 100vh;
    max-width: 520px;
    width: 100%;
    padding: 27px 27px 92px;
    box-sizing: border-box;
  }

  .logged-nav__link-main {
    display: block;
  }

  .logged-nav__list {
    flex-direction: column;
    text-align: center;
  }

  .logged-nav__profile {
    margin: 0 auto;
  }

  .logged-nav_display_none {
    display: none;
  }

  .logged-nav_display_flex {
    display: flex;
  }

  .logged-nav__list-item:not(:first-of-type),
  .logged-nav__link_movies {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
  }

  .logged-nav__list-item:not(:first-of-type, :last-of-type) {
    margin-bottom: 28px;
  }

  .logged-nav__list-item_align {
    align-self: end;
  }

  .logged-nav__link_active {
    border-bottom: 2px solid #000;
  }

  .logged-nav__link_all-movies {
    margin: 0;
  }

  .logged-nav__button-close_display_flex {
    display: flex;
  }

  .logged-nav__profile-icon_fill_main {
    fill: #000;
  }

  .logged-nav__link-profile_color {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 425px) {
  .logged-nav {
    padding: 16px 17px 92px;
  }

  .logged-nav__button-close {
    margin-bottom: 100px;
  }

  .logged-nav-burger {
    height: 43px;
    width: 40px;
  }
}