.about-project {
  box-sizing: border-box;
  padding: 110px calc((100% - 1280px + 140px) / 2);
}

.about-project__wrapper {
  min-height: 388px;
  display: flex;
  flex-direction: column;
}

.about-project__title {
  margin: 0;
  padding-bottom: 23px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000;
}

.about-project__text-container {
  display: flex;
  margin-top: 70px;
  gap: 0 40px;
  margin-bottom: 110px;
}

.about-project__info {
  display: flex;
  flex-direction: column;
  gap: 26px 0;
  max-width: 550px;
}

.about-project__info-title {
  margin: 0;
  min-height: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__info-paragraph {
  margin: 0;
  min-height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about-project__time {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 14px 0;
}

.about-project__time-title {
  margin: 0;
  min-height: 36px;
  background: #f2f2f2;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
}

.about-project__time-title_black {
  background-color: #000;
  color: #fff;
}

.about-project__time-skill {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
}

@media screen and (max-width: 1200px) {
  .about-project {
    padding: 110px 70px;
  }
}

@media screen and (max-width: 1023px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__text-container {
    gap: 0 30px;
    margin-bottom: 93px;
  }

  .about-project__info {
    gap: 22px 0;
  }

  .about-project__info-paragraph {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .about-project {
    padding: 70px 18px;
  }

  .about-project__wrapper {
    min-height: 501px;
  }

  .about-project__title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__text-container {
    flex-direction: column;
    margin-top: 60px;
    gap: 56px 0;
    margin-bottom: 60px;
  }

  .about-project__info {
    gap: 15px 0;
  }

  .about-project__info-title {
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__info-paragraph {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__time {
    grid-template-columns: 100px 1fr;
    gap: 10px 0;
  }

  .about-project__time-title {
    font-size: 11px;
  }

  .about-project__time-skill {
    font-size: 11px;
    line-height: 13px;
  }
}
