.cards {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.cards__list {
  margin: 78px calc((100% - 1280px + 140px) / 2) 10px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 37px 28px;
}

.cards__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 51px;
  margin-bottom: 80px;
}

.cards__button {
  box-sizing: border-box;
  width: 320px;
  height: 36px;
  background-color: #f9f9f9;
  color: #000;
  border: 6px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards__button:hover {
  border: 1px solid #8e3a97;
  background-color: rgba(142, 58, 151, 0.2);
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .cards__list {
    margin: 78px 70px 10px;
  }
}

@media screen and (max-width: 1023px) {
  .cards__list {
    padding: 0;
    margin: 81px auto -37px;
    grid-template-columns: repeat(2, 339px);
    gap: 30px 30px;
  }

  .cards__button-wrapper {
    margin-top: 77px;
    margin-bottom: 79px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    height: 237px;
  }
  .cards__list {
    margin: 50px auto 10px;
    grid-template-columns: repeat(1, 300px);
    gap: 18px;
  }

  .cards__button-wrapper {
    margin: 70px 0 80px;
  }
}

@media screen and (max-width: 500px) {
  .cards__button {
    width: 240px;
  }
}
