.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  width: 100%;
  max-width: 360px;
  height: 201px;
  object-fit: cover;
  border-radius: 6px;
}

.card__button {
  position: absolute;
  cursor: pointer;
  top: 14px;
  right: 14px;
  border: none;
  opacity: 1;
  transition: opacity 0.4s linear;
}

.card__button:hover {
  opacity: 0.8;
}

.card__button-save {
  border-radius: 30px;
  background: #f9f9f9;
  color: #000;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.9;
  padding: 6px 7px;
  display: block;
}

.card__button-save_display_none {
  display: none;
}

.card__button-saved {
  background: center no-repeat url(../../../images/icon__save.svg);
  width: 21px;
  height: 21px;
}

.card__button-saved_display_none {
  display: none;
}

.card__button-delete {
  background: center no-repeat url(../../../images/icon__delete.svg);
  width: 21px;
  height: 21px;
}

.card__button-delete_display_none {
  display: none;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 14px 0;
}

.card__title {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

.card__timing {
  color: #a0a0a0;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.9;
  background-color: #f9f9f9;
  border-radius: 3px;
  padding: 3px 4px;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .card__image {
    max-width: 339px;
    height: 190px;
  }

  .card__description {
    margin-top: 25px;
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  .card__image {
    max-width: 300px;
    height: 168px;
  }

  .card__button {
    top: 10px;
    right: 10px;
  }

  .card__description {
    margin-top: 15px;
  }

  .card__title {
    font-size: 12px;
  }
}