.register {
  max-width: 396px;
  margin: 70px auto;
}

.register__title {
  margin: 40px 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  width: 100%;
  max-width: 396px;
}

@media screen and (max-width: 768px) {
  .register {
    margin: 232px auto;
  }
}

@media screen and (max-width: 425px) {
  .register {
    margin: 56px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .register__title {
    margin: 52px 0 76px;
    text-align: center;
  }
}