.footer {
  padding: 34px 70px 20px;
}

.footer__wrapper {
  margin: 0 auto;
  max-width: 1140px;
}

.footer__description {
  margin: 0;
  color: #a0a0a0;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.footer__separator {
  border: #e8e8e8 1px solid;
  margin: 20px 0;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  margin: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.footer__nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  column-gap: 20px;
}

.footer__nav-list-link {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  opacity: 1;
  transition: opacity 0.4s linear;
}

.footer__nav-list-link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 32px 30px 20px;
  }

  .footer__description {
    font-size: 12px;
  }

  .footer__separator {
    margin: 20px 0 18px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding: 32px 10px 20px;
  }

  .footer__separator {
    margin: 20px 0 26px;
  }

  .footer__nav {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    row-gap: 30px;
  }

  .footer__nav-list {
    flex-direction: column;
    row-gap: 8px;
  }

  .footer__nav-list-link {
    font-size: 12px;
  }

  .footer__copyright {
    font-size: 12px;
  }
}