.promo {
  background: #f3c1f8;
}

.promo__wrappers {
  position: relative;
  box-sizing: border-box;
  background: #f3c1f8;
  min-height: 524px;
  padding: 82px 0 122px 0;
}

.promo__wrapper {
  background-image: url(../../../images/practicum-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 320px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.promo__title {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
  max-width: 730px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .promo__title {
    font-size: 50px;
    margin: 0;
  }

  .promo__wrappers {
    position: relative;
    box-sizing: border-box;
    background: #f3c1f8;
    min-height: 524px;
    padding: 224px 0 240px 0;
  }
}

@media screen and (max-width: 767px) {
  .promo__wrappers {
    padding: 224px 0 244px;
  }
  .promo__title {
    margin-top: 44px;
    max-width: 300px;
    font-size: 29px;
    line-height: 38px;
    margin: 0 0 -13px 0;
  }
}

@media screen and (max-width: 400px) {
  .promo__wrappers {
    padding: 142px 0 188px;
  }

  .promo__wrapper {
    height: 240px;
    background-size: contain;
  }

  .promo__title {
    font-size: 31px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: -1.24px;
    margin: 0 0 -8px 0;
  }
}
