.movies-saved {
  padding: 70px 70px 286px;
}

@media screen and (max-width: 768px) {
  .movies-saved {
    padding: 75px 29px 227px;
  }
}

@media screen and (max-width: 320px) {
  .movies-saved {
    padding: 79px 10px 202px;
  }
}