.techs {
  box-sizing: border-box;
  padding: 100px calc((100% - 1280px + 140px) / 2);
  background-color: #f5f5f5;
}

.techs__wrapper {
  min-height: 415px;
}

.techs__title {
  margin: 0;
  padding-bottom: 23px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000;
}

.techs__subtitle {
  margin: 90px auto 0px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__paragraph {
  margin: 26px auto 0;
  max-width: 460px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__list {
  margin: 100px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  gap: 10px;
  justify-content: center;
  list-style: none;
}

.techs__list-item {
  margin: 0;
  padding: 0;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.techs__list-item:hover {
  border: 1px solid #8e3a97;
  background-color: rgba(142, 58, 151, 0.2);
}

@media screen and (max-width: 1023px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__wrapper {
    min-height: 387px;
  }

  .techs__subtitle {
    margin: 80px auto 0;
  }

  .techs__paragraph {
    margin-top: 23px;
    font-size: 12px;
    line-height: 18px;
  }

  .techs__list {
    margin-top: 80px;
    grid-template-columns: repeat(auto-fit, 84px);
  }

  .techs__list-item {
    margin: 0 auto;
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 767px) {
  .techs {
    padding: 70px 18px;
  }

  .techs__wrapper {
    min-height: 511px;
  }

  .techs__title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
  }

  .techs__subtitle {
    margin-top: 60px;
    font-size: 30px;
    line-height: 36px;
  }

  .techs__paragraph {
    max-width: 292px;
    font-size: 11px;
    line-height: 16px;
  }

  .techs__list {
    margin-top: 50px;
    grid-template-columns: repeat(2, 84px);
  }
}
